@import "vars";

input, select, textarea, button {
    border-radius: 5px;
}

input, select, textarea {
    border: solid $form-input-border;
    border-color: $color-header;
    padding: $form-input-top-pad $form-input-side-pad;
}

button {
    border: outset $form-button-border;
    background-color: $color-header;
    padding: $form-button-top-pad $form-button-side-pad;

    color: #ffffff;
}

button:active {
    border-style: inset;
}

form {
    .form-row {
        @include row;
        margin-top: $gutter/2;
    }

    label {
        @include span-columns(2);

        font-weight: bold;
    }

    input, select, textarea {
        @include span-columns(4);
    }

    .form-buttons {
        text-align: center;
        button {
            display: inline-block;
        }
    }
}

form.small-form {
    label {
        @include span-columns(4);
    }

    input, select {
        @include span-columns(8);
    }
}

#login-form-box {
    @include span-columns(8);
    @include shift(2);

    form {
        @extend form.small-form;
    }
}

#registration-form {
    .team-option-dropdown {
        display: none;
    }
}
