@import "vars";
@import "bourbon";

.hero {
    height: $hero-height;
    text-align: center;
    position: relative;
    overflow: hidden;

    h1 {
        @extend h1.main-title;
        font-size: $hero-header-size;
    }

    .background {
        position: absolute;
        width: 100%;
        height: $hero-height;
        z-index: -10000;
        @include radial-gradient(at 50% bottom, #0B6382 0%, #020C10 150%);
    }

    .crt {
        background-image: url("/img/crt.png");
        opacity: 0.01;

        position: absolute;
        width: 100%;
        height: $hero-height;
        
        z-index: 10000;
        pointer-events: none;
    }

    .logo {
        width: $hero-logo-width;
        margin-top: 50px;

        @include filter(drop-shadow(0 0 3px #64C4C4));

        @include user-select(none);
        pointer-events: none;
    }

    .giant-logo {
        width: 1500px;
        position: absolute;
        top: -300px;
        left: 50%;
        right: 50%;
        margin-left: -750px;
        opacity: 0.02;
        z-index: -9999;
    }

    .info {
        color: white;
        font-family: $font-mono;
        font-size: 1em;
        padding: 0 10px;

        & > * {
            margin-bottom: 0.9em;
        }

        .dates {
            font-size: 1.3em;
        }

        .description {
            max-width: 475px;
            display: inline-block;
        }

        .register-link {
            a {
                text-decoration: none;
                @extend h1.main-title;
                font-size: $hero-header-size * 0.4;

                background-color: #095065;
                padding: 10px;
                border-radius: 5px;
                display: inline-block;
            }
        }
    }
}
