@import "vars";

#problem-grid {
    @include fill-parent;
    height: $problem-grid-height;
    
    background-color: #fff;
    position: relative;

    div {
        @extend .problem;
        position: absolute;
    }
}

#problem-list {
    list-style: none;
    padding: 0;

    li {
        @extend .problem;
        @include span-columns(6);
        @include omega(2n);

        padding: 0 $problem-list-pad;
        margin-bottom: $problem-list-pad;

        font-size: $problem-list-font-size;
        line-height: $problem-list-line-height;

        vertical-align: middle;

        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

        .points {
            display: inline-block;
            float: right;
        }
    }
}

.problem {
    @each $problem-type, $problem-color in $problem-types {
        &.#{$problem-type} {
            background-color: $problem-color;
        }
    }

    &.solved {
        background-color: $problem-done;
    }
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.featherlight-content-source {
    display: none;
    .featherlight & {
        display: block;
    }
}

.featherlight-content {
    overflow: visible !important;
    min-width: 550px !important;
}

.keys {
	.key {
        @include span-columns(4);
        @include omega(3n);
        @each $problem-type, $problem-color in $problem-types {
            &.#{$problem-type} {
                background-color: $problem-color;
            }
        }
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 5px;
        text-align: center;
    }
    margin-top:20px;
    margin-bottom: 20px;
}

.after {
	clear: both;
}

#achievement-info {
    @extend .featherlight-content-source;
    max-width: em(700px);

    #achievement-image {
        @include span-columns(3);
    }

    #achievement-data {
        @include span-columns(9);

        #achievement-name {
            margin: 0;
        }
    }
}

.problem-popup-info {
    max-width: em(700px);

    & > * {
        margin-bottom: 0.5em;
    }

    & > *:last-child {
        margin-bottom: 0;
    }

    .problem-head {
        @include row;

        .problem-name {
            float: left;
            margin: 0;
        }

        .problem-value {
            float: right;
            margin: 0;
        }
    }

    .problem-hint {
        position: relative;

        .hint-hidden-box, &:after {
            @include transition( opacity 0.5s );
        }

        .hint-hidden-box {
            opacity: 0;
        }

        &:after {
            opacity: 1;

            position: absolute;
            top: 0;
            left: 0;
            content: 'Hover to show hint';
            font-weight: bold;
        }
    }

    .problem-hint:hover {
        .hint-hidden-box {
            opacity: 1;
        }

        &:after {
            opacity: 0;
        }
    }

    .problem-submit {
        @include row;

        #flag-box {
            @include span-columns(9);
            $flag-box-pad: $form-button-top-pad + $form-button-border - $form-input-border;
            padding-top: $flag-box-pad;
            padding-bottom: $flag-box-pad;
        }
    }
}
