@import "vars";

#problem-grid {
    @include fill-parent;
    height: $problem-grid-height;
    
    background-color: #fff;
    position: relative;

    div {
        @extend .problem;
        position: absolute;
    }
}

#problem-list {
    list-style: none;
    padding: 0;

    li {
        @extend .problem;
        @include span-columns(6);
        @include omega(2n);

        padding: 0 $problem-list-pad;
        margin-bottom: $problem-list-pad;

        font-size: $problem-list-font-size;
        line-height: $problem-list-line-height;

        vertical-align: middle;

	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

        .points {
            display: inline-block;
            float: right;
        }
    }
}

.problem {
    @each $problem-type, $problem-color in $problem-types {
        &.#{$problem-type} {
            background-color: $problem-color;
        }
    }

    &.solved {
        background-color: #999;
    }

    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.featherlight-content-source {
    display: none;
    .featherlight & {
        display: block;
    }
}

#achievement-info {
    @extend .featherlight-content-source;
    max-width: em(700px);

    #achievement-image {
        @include span-columns(3);
    }

    #achievement-data {
        @include span-columns(9);

        #achievement-name {
            margin: 0;
        }
    }
}

#problem-info {
    @extend .featherlight-content-source;
    max-width: em(700px);

    .problem-head {
        @include row;

        #problem-name {
            float: left;
            margin: 0;
        }

        #problem-value {
            float: right;
            margin: 0;
        }
    }

    form {
        @include row;

        #flag {
            @include span-columns(9);
        }
    }
}
