#scoreboard-table-parent {
    table {
        @include fill-parent;
        min-width: 500px;
        table-layout: fixed;
    }
    #scoreboard-message {
        height: 1.5em;
        font-weight: bold;
    }
    td {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 20px;
        padding-bottom: 8px;
        text-align: left;
    }
    td.name {
        max-width: 350px;
        min-width: 200px;
    }
    tr.header {
        font-weight: bold;
        border-bottom: 3px solid #bbb;
    }
    tr.even {
        border-bottom: 1px solid #999;
    }
    tr.odd {
        border-bottom: 1px solid #8bc;
    }
    td.nu {
        text-align: right;
    }
    #alert {
        text-align: center;
    }
}
#canvas-parent {
    #chart {
        width: 700px;
        height: 300px;
        margin: auto auto;
        display: block;
        padding-bottom: 10px;
    }
}
