#team-settings, #user-settings {
    @include span-columns(6);

    h2:first-child {
        margin-top: 0;
    }
}

#change-password-form {
    label {
        @include span-columns(4);
    }

    input, select {
        @include span-columns(8);
    }

    button {
        @include span-columns(6);
        @include shift(3);
    }

    .form-row {
        @include row;
        margin-top: $gutter/2;
    }
}

#achievement-box {
    h3 {
        margin: 0.3em 0;
    }

    img {
        max-height: 5em;
    }
}
