@import "forms";

#team-settings, #user-settings {
    @include span-columns(6);

    h2:first-child {
        margin-top: 0;
    }

    form {
        @extend form.small-form;
    }
}

#achievement-box {
    h3 {
        margin: 0.3em 0;
    }

    img {
        max-height: 5em;
    }
}
