
$hero-height: 600px;
$hero-header-size: 90px;
$hero-logo-width: 230px;

$font-oxygen-mono: "Oxygen Mono", sans-serif;
$font-laconic: "laconiclight", sans-serif;
$font-lato: Lato,"Helvetica Neue",Arial,Helvetica,sans-serif;

$color-highlight: #78F8FF;
$color-header: #17799B;
$color-text: rgba(0, 0, 0, 0.8);

