
$hero-height: 600px;
$hero-header-size: 90px;
$hero-logo-width: 230px;

$nav-height: 70px;
$nav-pad: 7px;
$nav-inner-height: $nav-height - 2 * $nav-pad;

$font-mono: "Oxygen Mono", monospace, sans-serif;
$font-laconic: "laconiclight", sans-serif;
$font-main: "Open Sans", Helvetica, sans-serif;

$color-highlight: #78F8FF;
$color-header: #17799B;
$color-text: rgba(0, 0, 0, 0.8);
$color-link: #009FDA;

$problem-list-line-height: 1.6;
$problem-list-font-size: 1.3em;
$problem-list-pad: 0.5em;

$problem-grid-height: 500px;

$problem-types: (Web: red, Cryptography: blue, Binary: orange, Forensics: yellow, Reverse: purple, Miscellaneous: blue-green);
