---
---

@import "normalize";
@import "vars";

html {
    font-family: $font-main;
    color: $color-text;
}

body.logged-in .be-not-logged-in {
    display: none !important;
}

body:not(.logged-in) .be-logged-in {
    display: none !important;
}

h1, h2, h3, h4, h5, h6 {
    color: $color-header;
    font-weight: 700;
}

a {
    color: $color-link;
    cursor: pointer;
}

h1.main-title {
    font-family: $font-laconic;
    color: #78F8FF;
    text-shadow: 0px 0px 8px #64C4C4;
    margin: 0;
}

@import "fixes";
@import "index";
@import "hero";
@import "nav";
@import "problems";
@import "footer";
@import "scoreboard";
@import "settings";
@import "forms";

.main-content {
    @include outer-container;

    box-sizing: content-box;
    padding: 0 $content-pad;
    
    & > * {
        box-sizing: border-box;
    }

    h1 {
        @include fill-parent;
    }
}
